* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: raleway;
}

header {
	width: 100%;
	position: relative;
	top: 0;
}

nav {
	padding-top: 1%;
}

a {
	margin-left: 2%;
	font-size: 23px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(0, 218, 128, 1);
	padding-bottom: 3px;
	text-decoration: none;
	color: rgba(40, 23, 75, 1);
}

a:hover {
}
